body {
  margin: 0;
  background-color: rgb(4, 4, 20);
  padding: 0;
  font-family: "Inter";
  font-stretch: expanded;
  color: rgb(180, 180, 180);
  z-index: -2;
  

  /* animation-name: rhythmBG;
  background-color: rgb(4, 4, 20);
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes rhythmBG {
  0% {background-color: rgb(4, 4, 20);
  }
  50% {background-color: rgb(193, 193, 193);
  }
  100% {background-color: rgb(4, 4, 20);
  }*/
}


.logo{

  height: 64px;
  position: relative;
  z-index: 2;

}


.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 60vw;
  user-select: none;
  flex-direction: column;
}

.heading {
  color: #eee;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  background-color: #09090b88;
  box-shadow: 0 0 150px 150px #09090b88;
  opacity: 0;

  animation: textfadeIn ease 3s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  
}

@keyframes textfadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }

}





#question {
  margin-top: 40px;
  max-width: 60vw;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 2% 4%;
  border-radius: 12px;
  margin-top: 5%;
  /* margin-bottom: 2%; */
  backdrop-filter: blur(12px);
  text-align: center;
}

.textStyle {
  font-weight: 300;
  font-size: 14px;
}

#answer {
  /* text-transform: uppercase; */
  font-weight: 500;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outputDiv {
  width: 60vw;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.formLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#promptField {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.199);

  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 12px;
  max-width: 400px;
  width: 72vw;
  margin-bottom: 4%;
  backdrop-filter: blur(12px);
}

#promptField:focus {
  outline: solid 1px;
  outline-color: rgb(135, 188, 235);
  /* border-radius: 8px; */
  scale: 1.05;
  transition: 280ms ease-in;
}

#promptField:hover {
  outline: solid 1px;
  outline-color: rgb(135, 188, 235);
  scale: 1.05;
  transition: 280ms ease-in;
}

#promptField::placeholder {
  color: rgba(255, 255, 255, 0.15);
  user-select: none;
}

#submitBtn {
  padding: 20px 20px;
  font-family: "Inter";
  font-weight: 500;
  color: rgb(135, 188, 235);
  background-color: rgb(13, 0, 255);
  border: none;
  border-radius: 100px;
  font-size: 12px;
  width: 140px;
  box-shadow: none;
  z-index: 4;
}

#submitBtn:hover {
  background-color: rgb(214, 213, 241);
  color: rgb(13, 0, 255);
  /* transition: 250ms ease-in; */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  animation: fadeInAnimation ease-in-out 14s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0.1;
  }
  100% {
      opacity: 0.5;
   }

}

.actionBar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  /* background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px, 40px;
}


.soundControl{

  display: flex;
  align-items: center;

}

.audioStatusTag{
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin-right: 12px;
  
}

.optionBtn {
  background-color: rgba(255, 255, 255, 0.04);
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.203);
  color: white;
  font-size: 15px;

  width: 42px;
  height: 42px;
  
  border-radius: 32px;
  backdrop-filter: blur(12px);
  text-align: center;
  /* outline: 0; */
}

.optionBtn:hover {
  scale: 1.2;
  transition: 300ms;
  border-color: rgb(255, 255, 255);
  font-size: 15px;
}

.downloadBtn{
  margin-left: 24px;
}

.audioBtn{
  margin-right: 24px;

}






/* BREAKPOINT STYLING : MEDIA QUERIES FOR SMALLER DEVICES */

@media only screen and (max-width: 992px) {
  .heading {
    font-size: 24px;
  }

  .textContainer {
    width: 80vw;
  }
}
