
/* This is the main CSS document where I specify the styles for my meditation.html classes */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  margin: 0;
  background-color: rgb(5, 5, 22);
  /* background-color: rgb(3, 3, 14); */

  padding: 0;
  font-family: "Poppins";
  /* font-stretch: expanded; */
  color: rgb(180, 180, 180);
  z-index: -2;
  line-height: 125%;
  
}

.main {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#loader {
  display: none;
  z-index: 1;
  width: 64px;
  height: 64px;
  border: 2px solid #223;
  border-radius: 50%;
  position: relative;
  border-top: 2px solid #fff;
  border-top-left-radius: 50%;  
  border-top-right-radius: 50%;
  animation: spin 2s linear infinite;
  margin-bottom: 4%;
}

@keyframes spin {
  0% { transform: rotate(50deg); }
  100% { transform: rotate(410deg); }
}


.logo{

  height: 64px;
  position: relative;
  z-index: 2;

}


.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 60vw;
  user-select: none;
  flex-direction: column;
}

.heading {
  color: #ade5ff;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  background-color: #05051683;
  box-shadow: 0 0 150px 150px #05051683;
  opacity: 0;
  position: relative;
  line-height: normal;
  
}

.transitionIn {
transition: opacity 1.6s ease-in;
}

.transitionOut {
  transition: opacity 1s ease-out;
  }


.transitionDelay{
  transition-delay: 1s;
  }
  


  


#question {
  opacity: 0;
  max-width: 60vw;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 4px 24px;
  border-radius: 12px;
  margin-top: 5%;
  /* margin-bottom: 2%; */
  backdrop-filter: blur(12px);
  text-align: center;
  transition: opacity 2s;
  user-select: none;
}

.textStyle {
  font-weight: 300;
  font-size: 14px;
}

#answer {
  /* text-transform: uppercase; */
  font-weight: 500;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  
}

.outputDiv {
  width: 60vw;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.formLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.inputBox{
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: (0,0,0,0.05);
  backdrop-filter: blur(12px);

}

.inputBox:hover {
 
  scale: 1.05;
  transition: 280ms ease-in;
  /* outline: solid 0.5px; */
  outline: none;
  /* outline-color: rgb(255, 255, 255); */
  /* border-radius: 8px; */

}

#promptField {
  padding: 16px;
  background-color: #00000000;
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 8px;
  max-width: 360px;
  width: 72vw;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
  outline: none;

}

#promptField:focus {
  outline: none;
}


#promptField:hover {
  outline: none;
  
}

#promptField::placeholder {
  color: rgba(255, 255, 255, 0.25);
  user-select: none;
}



#generateBtn{
  padding: 23.6px 24px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  border: solid 0.5px;
  
  border-color: rgba(255, 255, 255, 0.4);

  color: white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 12px;
  
  box-shadow: none;
  z-index: 4;
}

#generateBtn:hover {
  background-color: #0d00ff;
  transition: 200ms ease-in;
  color: #fff;
  border-color: #0d00ff;

}





canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  

  animation: fadeInAnimation ease-in-out 14s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0.025;
  }
  100% {
      opacity: 0.25;
   }

}

.actionBar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  /* background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px, 40px;
  user-select: none;
}

.leftBtnGroup{
  display: flex;
}

.soundControl{

  display: flex;
  align-items: center;

}


.audioStatusTag{
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin-right: 12px;
  
}

.optionBtn {
  background-color: rgba(255, 255, 255, 0.04);
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.203);
  color: white;
  font-size: 15px;
  width: 42px;
  height: 42px;
  
  border-radius: 32px;
  backdrop-filter: blur(12px);
  text-align: center;
  /* outline: 0; */
}

.optionBtn:hover {
  scale: 1.2;
  transition: 300ms;
  border-color: rgb(255, 255, 255);
  font-size: 15px;
}

.downloadBtn{
  margin-left: 24px;
  
}

#cPicker{
  background-color: rgba(255, 255, 255, 0.04);
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.203);
  color: white;
  font-size: 15px;
  width: 42px;
  height: 42px;
  margin-left: 12px;
  border-radius: 32px;
  backdrop-filter: blur(12px);
  
}
#cPicker::-webkit-color-swatch{
  border-radius: 32px;
}

#cPicker::-webkit-color-swatch-wrapper{
  position: absolute;
  top: 10px;
  left: 12px;
  width: 16px;
  height: 20px;
}

#cPicker:hover{
  scale: 1.2;
  transition: 300ms;
  border-color: rgb(255, 255, 255);
  font-size: 15px;
}

.replayBtn{
  margin-left: 12px;
 opacity: 0;
}

.audioBtn{
  margin-right: 24px;

}




/* ------BREATHING ANIMATION----- */


.breathDiv{
  display: none;
  background-color: #09090b88;
  box-shadow: 0 0 150px 150px #09090b88;
  position: absolute;

}

.breathCircle{
  border: 0.5px solid rgba(255, 255, 255, 0);
  width: 15px;
  height: 15px;
  position: absolute;
  
  border-radius: 100%;
    transform: translate(-50%,-50%); 

  animation: breath 16s ease-in-out infinite
}

.breathCircle2{
  border: 1px solid rgba(255, 255, 255, 0);
  width: 8px;
  height: 8px;
  
  border-radius: 100%;
  position: absolute;
    transform: translate(-50%,-50%);

  animation: breath2 16s ease-in-out infinite
}




@keyframes breath {
25% {
  border: 0.5px solid  rgba(255, 255, 255, 0.4);
  
  width: 240px;
  height: 240px;
  border-radius: 100%;
    transform:translate(-50%,-50%);
}   
}

@keyframes breath2 {
25% {
  border: 0.8px solid #fff;
  
  width: 180px;
  height: 180px;
  border-radius: 100%;
    transform:translate(-50%,-50%);

}   
}

.libraryHelper{

position: absolute;
bottom: 32px;
text-align: center;
left: auto;

}

.libraryHelperTag{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  transition: 1000ms ease-in;
  font-weight: 400;
  font-family: 'Poppins';}

/* MEDITATION LIBRARY ------------------------------------------*/

.library{
  border-top: solid 0.5px;
  border-color: rgba(255,255,255, 0.1);
  background-color: #080b1c63;
  backdrop-filter: blur(32px);
  display: flex;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;

  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 4px 24px 24px 24px;
  box-sizing: border-box;
  user-select: none;


}



.dragWrapper{

  display: flex;
  justify-content: center;
  align-items: center;


}

.dragPill{

  width: 82px;
  min-width: 48px;
  height: 8px;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 8px 200px;
  

}






.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  height: auto;
  justify-content:space-around;
  align-items: center;
}



.meditationCard{
  flex-grow: 1;
  /* max-width: 360px; */
  background-color: rgba(204, 209, 242, 0.01);
  border-radius: 8px;
  width: auto;
  min-width: 240px;
  height: 140px;
  margin: 16px;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.1);


}

.meditationCard:hover{
  background-color: rgb(13, 0, 255);
  

  scale: 1.04;
  transition: 400ms;
  

}

.cardText{

font-weight: 400;
font-size: 1rem;
color: #eee;
text-align: left;
padding: 0px;
margin: 16px;
max-width: 100px;
transition: 400ms;


}

.cardPlayBtn{
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.025);
  border: solid 0.5px;
  border-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 15px;
  width: 42px;
  height: 42px;
  
  border-radius: 32px;
  text-align: center;
}

.cardPlayBtn:hover{
  scale: 1.2;
  transition: 200ms;
  border-color: rgb(255, 255, 255);
  font-size: 15px;

}


.cardPlayBtnIcon{

color: white;

}



.libraryHeaderWrapper{
display: flex;
align-items: center;
justify-content: space-between;

}

.libraryHeadingWrapper{
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  
}

.libraryHeading{
  padding: 16px 0;
  color: white;
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 2rem;
  margin: 12px 0 0 0;
  width: 100%;

  
}

.libraryDiscription{
  font-weight: 300;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
  width: 380px;
  margin: 12px 0;

  

}









/* BREAKPOINT STYLING : MEDIA QUERIES FOR SMALLER DEVICES */

@media only screen and (max-width: 992px) {
  .heading {
    font-size: 24px;
  }

  .textContainer {
    width: 80vw;
  }

  .libraryDecoImg{
    display: none;

  }

  

}



@media only screen and (max-width: 480px) {


.replayBtn{
display: none !important;
}

.libraryHeading{
line-height: 120%;
}

.libraryDiscription{
  width: 100%;
}

canvas{
  display: none;
}


}


