<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lenny GPT</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
  
      <div id="canvas-wrapper"></div>

      

      <div class="container">
        <div id="question">

                  <h4 class="textStyle">Welcome, John Doe</h4>

        </div>
        <div class="textContainer">
          <h1 class="heading">Describe how you're feeling today</h1>
        </div>

        <form autocomplete="off">
          <div class="formLayout">
            <input
              id="promptField"
              placeholder="Write your Prompt here"
              type="text"
              name="text_input"
            />

            <button id="submitBtn" type="submit" value="Submit">
              Submit Question
            </button>
          </div>
        </form>
      </div>


        <div class="actionBar">


            <button class="optionBtn downloadBtn" id="butt">        
              <i class="fa-solid fa-cloud-arrow-down fa-xs" style="color: #fff;"></i>    
            </button>
          

          <div class="soundControl">
            <h6 class="audioStatusTag">SOUND:</h6>
            <button class="optionBtn audioBtn">        
              <i class="fa-solid fa-volume-xmark fa-xs" style="color: #fff;"></i>        
            </button>
          
          </div>

      </div>


    </section>


    <script>
      $(document).ready(function() {
          $('form').on('submit', function(event) {
              event.preventDefault();
              $.ajax({
                  type: 'POST',
                  url: '/submit',
                  data: $('form').serialize(),
                  success: function(response) {
                    //  document.getElementsByClassName('heading')[0].innerHTML = response.OutputGPT;
                    document.getElementById('question').innerText = response.userPrompt;
                    console.log(response)
                    document.getElementById("promptField").value = "";

                    var resultJS = response.OutputGPT;

                        fetch('/tts-process', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ resultJS: resultJS })
                        })
                        .then(response => response.text())
                        .then(result => console.log(result))
                        .then(function speechStart(){
                                $.ajax({
                                  url: 'static/assets/speech.mp3',
                                  xhrFields: {
                                    responseType: 'blob'
                                  },
                                  success: function(blob) {
                                    var audio = new Audio();
                                    audio.src = URL.createObjectURL(blob);
                                    audio.play();
                                  

                                  }                            
                                }); 
                                })
                        .catch(error => console.error(error));

                  }
              });
          });
      });

      


  </script>
  
  
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='sketch.js')}}"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.js"></script>
    <script src="https://kit.fontawesome.com/41ee17b1a0.js" crossorigin="anonymous"></script>
  </body>
</html>
