
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mindrealm.ai</title>
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="icon" type="image/svg" href="static/assets/favicon.svg">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   
  </head>
  <body>


    <section class="main">
      
      <div id="loading-text">Loading...</div>
      <div id="canvas-wrapper"></div>


      <div class="container">
        <div id="question">

                  <h4 class="textStyle"></h4>

        </div>
        <div class="textContainer">
                <div id="loader"></div>

                <div class="breathDiv">
                    <div class="breathCircle"></div>
                    <div class="breathCircle2"></div>
                </div>

                <h1 class="heading">Welcome to The Meditation Realm</h1>
          
        </div>

        <form autocomplete="off">
          <div class="formLayout">
            <div class="inputBox">

            <input
              id="promptField"
              placeholder="e.g. I can't fall asleep"
              type="text"
              name="text_input"
              autofocus
              onblur="this.focus()"
            />

            <button id="generateBtn" type="submit" value="Submit"><i class="arrowIcon fa-solid fa-arrow-right fa-sm"></i></button>
            </div>

          </div>
        </form>
      </div>


        <div class="actionBar">

          <div class="leftBtnGroup">
            <button class="optionBtn downloadBtn" id="saveCanvasBtn">        
              <i class="fa-solid fa-cloud-arrow-down fa-xs" style="color: #fff;"></i>    
            </button>
            
              <input type="color" id="cPicker" name="cPicker" value="#9ef9ff">


            <button class="optionBtn replayBtn">        
              <i class="fa-solid fa-repeat fa-xs" style="color: #ffffff;"></i>
            </button>

          </div>  

          <div class="soundControl">
            <h6 class="audioStatusTag">SOUND:</h6>
            <button class="optionBtn audioBtn">        
              <i class="fa-solid fa-volume-xmark fa-xs" style="color: #fff;"></i>        
            </button>
          
          </div>

          

      </div>


      <div class="libraryHelper">
      <p class="libraryHelperTag">Scroll for Meditation Library</p>  
      </div>


    </section>



      <section class="library">
        
        <div class="dragWrapper">
          <div class="dragPill"></div>
        </div>

        <div class="libraryHeaderWrapper">
          
          <div class="libraryHeadingWrapper">
              <h2 class="libraryHeading">Meditation Library</h2>
              <p class="libraryDiscription">Here is a selection of guided meditations for improved mental health & inner peace.</p>
          </div>
          
        </div>


        <div class="cardContainer">

          
          <div class="meditationCard ">
            <h3 class="cardText">Anger Management 101</h3>
            <button class=" cardPlayBtn" onclick="togglePlay(anger,0)">        
              <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
            </button>
          </div>
          
          <div class="meditationCard"><h3 class="cardText">Grief & Acceptance</h3><button class=" cardPlayBtn" onclick="togglePlay(grief,1)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Don't Overthink Shit</h3><button class=" cardPlayBtn" onclick="togglePlay(overthink,2)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Free your Frustration</h3><button class=" cardPlayBtn" onclick="togglePlay(frustration,3)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Sleep Meditation</h3><button class=" cardPlayBtn" onclick="togglePlay(sleep,4)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Affirmations & Self-worth</h3><button class=" cardPlayBtn" onclick="togglePlay(affirmations,5)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Practicing Gratitude</h3><button class=" cardPlayBtn" onclick="togglePlay(grief,6)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Dealing with Depression</h3><button class=" cardPlayBtn" onclick="togglePlay(grief,7)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          <div class="meditationCard"><h3 class="cardText">Self Reflection</h3><button class=" cardPlayBtn" onclick="togglePlay(grief,8)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
          
          <div class="meditationCard"><h3 class="cardText">Mindfulness</h3><button class=" cardPlayBtn" onclick="togglePlay(grief,9)">        
            <i class="fa-solid fa-play fa-xs cardPlayBtnIcon"></i>
          </button></div>
        

        </div>

      </section>





  <script src="static/index.js"></script>
  
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='sketch.js')}}"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.js"></script>

    <script src="https://kit.fontawesome.com/41ee17b1a0.js" crossorigin="anonymous"></script>
</body>
</html>
