<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='welcome.css') }}"/>

  <link rel="icon" type="image/svg" href="static/assets/favicon.svg">
    
</head>
<body>
    

<section>



<div class="titleContainer">
     <h1 class="heading">Press Button below to Start</h1> 
     <p class="paragraph">This is an Introductory Web Experience exploring Digital Assistant Technology by utilising GPT-4 & Neural Speech Synthesis.</br> <br>Once you enter you will be prompted with a text box in which you can ask your question about an area in your life that demands attention, a specific situation or topic of interest.<br> <br>After a short wait you will receive a spoken answer back to your query.<br>You can further personalise the experience with our built-in theme selector.</p>
     <form action="/ai"> 
        <button id="enterBtn">Get Started</button>
    </form> 
</div>



</section>

</body>
</html>